pylint      # linting
black       # formatting
pandas      # data engineering
numpy       # data engineering
scipy       # data engineering
matplotlib  # viz
pyyaml      # read/write conf
jupyter     # jupyter notebook
notebook    # jupyter notebook
ipykernel   # jupyter notebook
sphinx      # docs
nbsphinx    # docs
sphinx_rtd_theme # docs
nbsphinx-link # docs