# cache
__pycache__/

# toy data path
data/*      

# doc build path
.vscode/settings.json
src/nodes/old/MLft5.m
src/nodes/old/slfitBayesfminSlogl.m
src/nodes/old/SLfitBayesianModel.m
src/nodes/old/SLgetLoglBayesianModel.m
src/nodes/old/SLGirshickBayesLookupTable.m
src/nodes/old/SLMakedatabank.m
src/nodes/old/vmPdfs.py
src/nodes/old/SLcircWeightedMeanStd.py
src/nodes/old/SLfitBayesianModel.py
src/nodes/old/SLgetangle.py
src/nodes/old/SLmakePredictionsBayesianModel.py
src/nodes/old/SLcircWeightedMeanStd.py
src/nodes/old/SLfitBayesianModel.py
