pylint      # linting
black       # formatting
pandas      # data engineering
numpy       # data engineering
scipy       # data engineering
matplotlib  # viz
sphinx_rtd_theme # code docs
sphinx      # code docs
pyyaml      # read/write conf