pylint      # linting
black       # formatting
pandas      # data engineering
numpy       # data engineering
scipy       # data engineering
matplotlib  # viz
sphinx_rtd_theme # docs
sphinx      # docs
pyyaml      # read/write conf
